<!DOCTYPE html>
<html lang="en">
<head>
<title>Goombay Smash Run</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Bootstrap Theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Bootstrap JS -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</head>
<header>
	<nav class="navbar navbar-default navbar-fixed-top" style="">
		<ul class="nav navbar-nav navbar-right" >
			<li><a href = "/" class="btn btn-default btn-lg active" role="button">Home</a></li>
			<li><a href = "/trips/" class="btn btn-default btn-lg active" role = "button">Trips</a></li>
			<li><a href = "/orders/" class="btn btn-default btn-lg active" role = "button">Orders</a></li>
			<li><a href = "/beers/" class="btn btn-default btn-lg active" role = "button">Beers</a></li>
			<li><a href = "/persons/" class="btn btn-default btn-lg active" role = "button">People</a></li>
			<li><a href = "/stores/" class="btn btn-default btn-lg active" role = "button">Stores</a></li>
		</ul>
	</nav>
</header>
</html>