<!DOCTYPE html>
<html lang="en">
<head>
<title>Goombay Smash Run</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Bootstrap Theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" style="">
      <ul class="nav navbar-nav navbar-right" >
        <li><a href = "/" class="btn btn-default btn-lg active" role="button">Home</a></li>
        {% if auth %}
        <li><a href = "/people/" class="btn btn-default btn-lg active" role = "button">People</a></li>
        <li><a href = "/trips/" class="btn btn-default btn-lg active" role = "button">Trips</a></li>
        <li><a href = "/orders/" class="btn btn-default btn-lg active" role = "button">Orders</a></li>
        <li><a href = "/beers/" class="btn btn-default btn-lg active" role = "button">Beers</a></li>
        <li><a href = "/stores/" class="btn btn-default btn-lg active" role = "button">Stores</a></li>
        <li><a href = "/trip/create/" class="btn btn-default btn-lg active" role = "button">Create Trip</a></li>
        <li><a href = "/order/create/" class="btn btn-default btn-lg active" role = "button">Create Order</a></li>       
        <li><a href = "/logout/" class="btn btn-default btn-lg active" role = "button">Logout</a></li>
 
        {% endif %}
        {% if not auth %}
        <li><a href = "/signup/" class="btn btn-default btn-lg active" role = "button">Sign Up</a></li>
        <li><a href = "/login/" class="btn btn-default btn-lg active" role = "button">Login</a></li>        
        {% endif %}
        
      </ul>
    </nav>
  </header>
  <div class="col-sm-3 col-md-3 pull-right">
  <form class="navbar-form" role="search" method="post" action="/search/">
    <div class="input-group">
        <input type="hidden" name="type" value="all">
        <input type="text" id="navSearch" class="form-control" placeholder="Search" name="all" id="all">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" id="navSearchSubmit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    </form>
  </div>

  <div class="container-fluid"  style="margin-top: 100px; ">
      <h2></h2>
      <div class="col-sm-10">{% block content %}{% endblock %}    
      </div>
    </div>
</body>




 
</html>