{% extends "base_generic.html" %}
{% block content %}


{% if error %}
	<h1><strong> {{ error }} </strong></h1>
	<br>
{% endif %}


{% if username %}
<h1> Hello {{username}}! </h1>
{% endif %}

<h2>Welcome to Goombay Smash Beer Delivery!</h2>
<h3>This is the worlds number one beer delivery service!</h3>
<h4>Grabbing a case? See who else needs one! Or get notified when a friend is going out for a run.</h4>

<p>Check which of your friends are on the app by looking at the people tab!</p>
<p>Check out which of what stores you can choose to make a trip to under trips!</p>
<p>To view active trips that you can place an order with, click on trips!</p>
<p>To view all placed orders, look at orders.</p>
<p>Checkout all the beers you can order under the beers tab!</p>
<br>
{% if auth %}
{{ auth_time }}

<p><strong>To create a trip, go to the Create Trip tab!</strong></p>
<p><strong>To place an order, go to the Create Order tab!</strong></p>
{% endif %}

{% if not auth %}
<p><strong>Signup or Login to create trips and place orders!</strong></p>
{% endif %}



{% endblock %}