{% extends "base_generic.html" %}

{% block content %}

<h1>What would you like to order?</h1>
<br>
<form method="post" action="{% url 'createOrder' %}">
{% csrf_token %}

<div>
  <td> Beer: </td>

{% for value in form.beer %}
  <td>{{ value }}</td>
</div>
{% endfor %}

<div>
  <td>Trip: </td>

{% for value in form.trip %}
  <td>{{ value }}</td>
</div>
{% endfor %}

<div>
  <input type="submit" value="Make Order" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% if error %}
<h1> {{ error }} </h1>
{% endif %}
{% endblock %}