{% extends "base_generic.html" %}

{% block content %}

<h1>Where are you going on a beer run?</h1>
<br>
<form method="post" action="{% url 'createTrip' %}">
{% csrf_token %}

<div>
  <td>{{ form.store.label_tag }}</td>

{% for value in form.store %}
  <td>{{ value }}</td>
</div>
{% endfor %}
<div>
  <input type="submit" id = "createTripButton" value="Make Trip" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% if error %}
<h1> {{ error }} </h1>
{% endif %}
{% endblock %}