{% extends "base_generic.html" %}

{% block content %}
  <p><strong>Runner Name: </strong> {{ runner }}</p>
  <p><strong>Store:</strong> {{ store }}</p> 
  <p><strong>Time_created:</strong> {{ time_created }}</p> 
  <p><strong>Active:</strong> {{ active }}</p> 
  <p><strong>Orders:</strong></p>
{% for item in orders %}
	<p><a href="../order/{{ item }}">Order</a></p>
{% endfor %}
<br>
{% if name == runner and active == True %}
	<h1> <a href="{{ url }}", class="button">End Trip</a> </h1>
{% endif %}

{% endblock %}
